/*_____________________________________________________________________|
|______________________________________________________________________|
|        _   __   _   _ _   _   _   _         _                        |
|   |   |_| | _  | | | V | | | | / |_/ |_| | /                         |
|   |__ | | |__| |_| |   | |_| | \ |   | | | \_                        |
|    _  _         _ ___  _       _ ___   _                    / /      |
|   /  | | |\ |  \   |  | / | | /   |   \                    (^^)      |
|   \_ |_| | \| _/   |  | \ |_| \_  |  _/                    (____)o   |
|______________________________________________________________________|
|______________________________________________________________________|
|                                                                      |
|----------------------------------------------------------------------|
|   Copyright 2025, Rebecca Rashkin                                    |
|  -------------------------------                                     |
|   This code may be copied, redistributed, transformed, or built      |
|   upon in any format for educational, non-commercial purposes.       |
|                                                                      |
|   Please give me appropriate credit should you choose to use this    |
|   resource. Thank you :)                                             |
|----------------------------------------------------------------------|
|                                                                      |
|______________________________________________________________________|
|   //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\   |
|_____________________________________________________________________*/
/*  DESCRIPTION
/*  CSS colors to be included by main style css file.
/*____________________________________________________________________*/

/*--------------------------------------------------------------------*/
/* CONSTANTS
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* Dark theme - colors become active when moon icon selected
/*--------------------------------------------------------------------*/
:root.dark-mode
{
  --flux-color-1      : #af87af;
  --flux-color-2      : #5fafaf;
  --flux-color-3      : #0087af;

  --flux-bg-norm      : #262626;
  --flux-bg-bold      : #303030;
  --flux-fg-norm      : #eeeeee;
  --flux-fg-lite      : #afafaf;
}

:root
{

  /*------------------------------------------------------------------*/
  /* Light theme, default
  /*------------------------------------------------------------------*/
  --flux-color-1      : #874787;
  --flux-color-2      : #478787;
  --flux-color-3      : #475f87;

  --flux-bg-norm      : #eeeeee;
  --flux-bg-bold      : #d7d7d7;
  --flux-fg-norm      : #262626;
  --flux-fg-lite      : #5f5f5f;

  --norm--blk-00      : #1c1c1c;
  --norm--red-01      : #d787af;
  --norm--grn-02      : #afd787;
  --norm--yel-03      : #ffaf87;
  --norm--blu-04      : #87afd7;
  --norm--mag-05      : #af87d7;
  --norm--cya-06      : #87d7af;
  --norm--wht-07      : #d7d7d7;
  --bold--blk-08      : #878787;
  --bold--red-09      : #d75f87;
  --bold--grn-10      : #87af5f;
  --bold--yel-11      : #ffd787;
  --bold--blu-12      : #00afd7;
  --bold--mag-13      : #af5faf;
  --bold--cya-14      : #5fafaf;
  --bold--wht-15      : #d0d0d0;
  --flux--invald      : #ff5f87;

  /*------------------------------------------------------------------*/

  --flux-wht---7      : #eeeeee;

  /*------------------------------------------------------------------*/
  /* Quarto syntax highlighting colors
  /*------------------------------------------------------------------*/
  --quarto-hl-ot-color          : #003B4F;
  --quarto-hl-at-color          : #657422;
  --quarto-hl-ss-color          : #20794D;
  --quarto-hl-an-color          : #5E5E5E;
  --quarto-hl-fu-color          : #4758AB;
  --quarto-hl-st-color          : #20794D;
  --quarto-hl-cf-color          : #003B4F;
  --quarto-hl-op-color          : #5E5E5E;
  --quarto-hl-er-color          : #AD0000;
  --quarto-hl-bn-color          : #AD0000;
  --quarto-hl-al-color          : #AD0000;
  --quarto-hl-va-color          : #111111;
  --quarto-hl-bu-color          : inherit;
  --quarto-hl-ex-color          : inherit;
  --quarto-hl-pp-color          : #AD0000;
  --quarto-hl-in-color          : #5E5E5E;
  --quarto-hl-vs-color          : #20794D;
  --quarto-hl-wa-color          : #5E5E5E;
  --quarto-hl-do-color          : #5E5E5E;
  --quarto-hl-im-color          : #00769E;
  --quarto-hl-ch-color          : #20794D;
  --quarto-hl-dt-color          : #AD0000;
  --quarto-hl-fl-color          : #AD0000;
  --quarto-hl-co-color          : #5E5E5E;
  --quarto-hl-cv-color          : #5E5E5E;
  --quarto-hl-cn-color          : #8f5902;
  --quarto-hl-sc-color          : #5E5E5E;
  --quarto-hl-dv-color          : #AD0000;
  --quarto-hl-kw-color          : #003B4F;

  --bs-blue                     : #0d6efd;
  --bs-indigo                   : #6610f2;
  --bs-purple                   : #6f42c1;
  --bs-pink                     : #d63384;
  --bs-red                      : #dc3545;
  --bs-orange                   : #fd7e14;
  --bs-yellow                   : #ffc107;
  --bs-green                    : #198754;
  --bs-teal                     : #20c997;
  --bs-cyan                     : #0dcaf0;
  --bs-black                    : #000;
  --bs-white                    : #ffffff;
  --bs-gray                     : #6c757d;
  --bs-gray-dark                : #343a40;
  --bs-gray-100                 : #f8f9fa;
  --bs-gray-200                 : #e9ecef;
  --bs-gray-300                 : #dee2e6;
  --bs-gray-400                 : #ced4da;
  --bs-gray-500                 : #adb5bd;
  --bs-gray-600                 : #6c757d;
  --bs-gray-700                 : #495057;
  --bs-gray-800                 : #343a40;
  --bs-gray-900                 : #212529;
  --bs-default                  : #dee2e6;
  --bs-primary                  : #0d6efd;
  --bs-secondary                : #6c757d;
  --bs-success                  : #198754;
  --bs-info                     : #0dcaf0;
  --bs-warning                  : #ffc107;
  --bs-danger                   : #dc3545;
  --bs-light                    : #f8f9fa;
  --bs-dark                     : #212529;
  --bs-default-rgb              : 222, 226, 230;
  --bs-primary-rgb              : 13, 110, 253;
  --bs-secondary-rgb            : 108, 117, 125;
  --bs-success-rgb              : 25, 135, 84;
  --bs-info-rgb                 : 13, 202, 240;
  --bs-warning-rgb              : 255, 193, 7;
  --bs-danger-rgb               : 220, 53, 69;
  --bs-light-rgb                : 248, 249, 250;
  --bs-dark-rgb                 : 33, 37, 41;
  --bs-primary-text-emphasis    : rgb(5.2, 44, 101.2);
  --bs-secondary-text-emphasis  : rgb(43.2, 46.8, 50);
  --bs-success-text-emphasis    : rgb(10, 54, 33.6);
  --bs-info-text-emphasis       : rgb(5.2, 80.8, 96);
  --bs-warning-text-emphasis    : rgb(102, 77.2, 2.8);
  --bs-danger-text-emphasis     : rgb(88, 21.2, 27.6);
  --bs-light-text-emphasis      : #495057;
  --bs-dark-text-emphasis       : #495057;
  --bs-primary-bg-subtle        : rgb(206.6, 226, 254.6);
  --bs-secondary-bg-subtle      : rgb(225.6, 227.4, 229);
  --bs-success-bg-subtle        : rgb(209, 231, 220.8);
  --bs-info-bg-subtle           : rgb(206.6, 244.4, 252);
  --bs-warning-bg-subtle        : rgb(255, 242.6, 205.4);
  --bs-danger-bg-subtle         : rgb(248, 214.6, 217.8);
  --bs-light-bg-subtle          : rgb(251.5, 252, 252.5);
  --bs-dark-bg-subtle           : #ced4da;
  --bs-primary-border-subtle    : rgb(158.2, 197, 254.2);
  --bs-secondary-border-subtle  : rgb(196.2, 199.8, 203);
  --bs-success-border-subtle    : rgb(163, 207, 186.6);
  --bs-info-border-subtle       : rgb(158.2, 233.8, 249);
  --bs-warning-border-subtle    : rgb(255, 230.2, 155.8);
  --bs-danger-border-subtle     : rgb(241, 174.2, 180.6);
  --bs-light-border-subtle      : #e9ecef;
  --bs-dark-border-subtle       : #adb5bd;
  --bs-white-rgb                : 255, 255, 255;
  --bs-black-rgb                : 0, 0, 0;
  --bs-font-sans-serif          : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace           : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient                 : linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-root-font-size           : 17px;
  --bs-body-font-family         : system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-size           : 1rem;
  --bs-body-font-weight         : 400;
  --bs-body-line-height         : 1.5;
  --bs-body-color               : #212529;
  --bs-body-color-rgb           : 33, 37, 41;
  --bs-body-bg                  : #ffffff;
  --bs-body-bg-rgb              : 255, 255, 255;
  --bs-emphasis-color           : #000;
  --bs-emphasis-color-rgb       : 0, 0, 0;
  --bs-secondary-color          : rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb      : 33, 37, 41;
  --bs-secondary-bg             : #e9ecef;
  --bs-secondary-bg-rgb         : 233, 236, 239;
  --bs-tertiary-color           : rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb       : 33, 37, 41;
  --bs-tertiary-bg              : #f8f9fa;
  --bs-tertiary-bg-rgb          : 248, 249, 250;
  --bs-heading-color            : inherit;
  --bs-link-color               : #0d6efd;
  --bs-link-color-rgb           : 13, 110, 253;
  --bs-link-decoration          : underline;
  --bs-link-hover-color         : rgb(10.4, 88, 202.4);
  --bs-link-hover-color-rgb     : 10, 88, 202;
  --bs-code-color               : #7d12ba;
  --bs-highlight-bg             : rgb(255, 242.6, 205.4);
  --bs-border-width             : 1px;
  --bs-border-style             : solid;
  --bs-border-color             : #dee2e6;
  --bs-border-color-translucent : rgba(0, 0, 0, 0.175);
  --bs-border-radius            : 0.25rem;
  --bs-border-radius-sm         : 0.2em;
  --bs-border-radius-lg         : 0.5rem;
  --bs-border-radius-xl         : 1rem;
  --bs-border-radius-xxl        : 2rem;
  --bs-border-radius-2xl        : var(--bs-border-radius-xxl);
  --bs-border-radius-pill       : 50rem;
  --bs-box-shadow               : 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm            : 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg            : 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset         : inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width         : 0.25rem;
  --bs-focus-ring-opacity       : 0.25;
  --bs-focus-ring-color         : rgba(13, 110, 253, 0.25);
  --bs-form-valid-color         : #198754;
  --bs-form-valid-border-color  : #198754;
  --bs-form-invalid-color       : #dc3545;
  --bs-form-invalid-border-color: #dc3545;

}
