/*____________________________________________________________________*/
/*____________________________________________________________________*/
/*      _   __   _   _ _   _   _   _         _                        */
/* |   |_| | _  | | | V | | | | / |_/ |_| | /                         */
/* |__ | | |__| |_| |   | |_| | \ |   | | | \_                        */
/*  _  _         _ ___  _       _ ___   _                      / /    */
/* /  | | |\ |  \   |  | / | | /   |   \                      (^^)    */
/* \_ |_| | \| _/   |  | \ |_| \_  |  _/                      (____)o */
/*____________________________________________________________________*/
/*____________________________________________________________________*/
/*                                                                    */
/*--------------------------------------------------------------------*/
/* Copyright 2025, Rebecca Rashkin                                    */
/* -------------------------------                                    */
/* This code may be copied, redistributed, transformed, or built upon */
/* in any format for educational, non-commercial purposes.            */
/*                                                                    */
/* Please give me appropriate credit should you choose to use this    */
/* resource. Thank you :)                                             */
/*--------------------------------------------------------------------*/
/*                                                                    */
/*____________________________________________________________________*/
/* //\^.^/\\   //\^.^/\\   //\^.^/\\   //\^.^/\\   //\^.^/\\   //\^.^/*/
/*____________________________________________________________________*/
:root
{
  --flux_vio  : #874787;
  --flux_cya  : #478787;
  --flux_blu  : #475f87;
  --flux_wht  : #eeeeee;
  --flux_lte  : #878787;
  --flux_drk  : #262626;
}

body
{
  font-family : 'Consolas', monospace;
  color       : var(--flux_drk)
}

/* Headings */
h1, h2, h3
{
  font-family: 'Trebuchet MS'
}

h1 { color: var(--flux_cya); }
h2 { color: var(--flux_vio); }

h4 { margin-left: 0;}


/* Navigation bar */
.navbar
{
  background-color: var(--flux_vio);
}

/* Site name */
.navbar-brand
{
  font-family : 'Trebuchet MS';
  color       : var(--flux_wht);
}

/* Hyperlinks */
main a         { color: var(--flux_blu); }
main a:hover   { color: var(--flux_vio); font-weight: bold;}
main a:active  { color: var(--flux_blu); }
main a:visited { color: var(--flux_blu); }

details summary {
  cursor: pointer;
  display: list-item;       /* restores disclosure triangle behavior */
  font-weight: 600;
  font-size: 1.1em;
  margin-top: 0.5em;
  color: #333;
}

details summary::-webkit-details-marker {
  color: #555;
}

details[open] summary {
  color: #000;              /* darker when open */
}

details > *:not(summary) {
  margin-left: 1em;         /* slight indent for nested content */
}

details {
  margin-bottom: 1em;
  border-left: 3px solid #ccc;
  padding-left: 0.5em;
}