/*_____________________________________________________________________|
|______________________________________________________________________|
|        _   __   _   _ _   _   _   _         _                        |
|   |   |_| | _  | | | V | | | | / |_/ |_| | /                         |
|   |__ | | |__| |_| |   | |_| | \ |   | | | \_                        |
|    _  _         _ ___  _       _ ___   _                    / /      |
|   /  | | |\ |  \   |  | / | | /   |   \                    (^^)      |
|   \_ |_| | \| _/   |  | \ |_| \_  |  _/                    (____)o   |
|______________________________________________________________________|
|______________________________________________________________________|
|                                                                      |
|----------------------------------------------------------------------|
|   Copyright 2025, Rebecca Rashkin                                    |
|  -------------------------------                                     |
|   This code may be copied, redistributed, transformed, or built      |
|   upon in any format for educational, non-commercial purposes.       |
|                                                                      |
|   Please give me appropriate credit should you choose to use this    |
|   resource. Thank you :)                                             |
|----------------------------------------------------------------------|
|                                                                      |
|______________________________________________________________________|
|   //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\   |
|______________________________________________________________________|
|_____________________________________________________________________*/
/*  DESCRIPTION
/*  CSS Stylesheet for website.
/*____________________________________________________________________*/

/*--------------------------------------------------------------------*/
/* CONSTANTS
/*--------------------------------------------------------------------*/
:root
{
/*--------------------------------------------------------------------*/
/* Dark theme, need to implement
/*--------------------------------------------------------------------*/
  --flux-color-1    : #875f87;
  --flux-color-2    : #5fafaf;
  --flux-color-3    : #0087af;

  --flux-bg-norm    : #262626;
  --flux-bg-bold    : #c0c0c0;
  --flux-fg-norm    : #eeeeee;
  --flux-fg-bold    : #afafaf;

/*--------------------------------------------------------------------*/
/* Light theme, current
/*--------------------------------------------------------------------*/
  --flux-color-1    : #874787;
  --flux-color-2    : #478787;
  --flux-color-3    : #475f87;

  --flux-bg-norm    : #eeeeee;
  --flux-bg-bold    : #d7d7d7;
  --flux-fg-norm    : #262626;
  --flux-fg-bold    : #5f5f5f;

  --content-padding : 20px;
  --toc-link-padding:  8px;
  --pg-padding      : 50px;

  --flux_button_txt : var(--flux-bg-norm);

  --content-border  : 8px solid var(--flux-color-3);
  --h2-border       : 4px solid var(--flux-color-2);
  --h3-border       : 1px solid var(--flux-bg-bold);

  --size-base       : clamp(16px, 1vw   + 0.5rem, 20px);
  --size-h1         : clamp(28px, 4vw   + 1rem,   48px);
  --size-h2         : clamp(24px, 3vw   + 0.8rem, 36px);
  --size-h3         : clamp(20px, 2vw   + 0.6rem, 28px);
  --size-h4         : clamp(18px, 1.5vw + 0.5rem, 24px);
  --size-code       : clamp(14px, 1vw   + 0.3rem, 18px);

  --size-toc-top    : clamp(12px, 1vw   + 0.4rem, 16px);
  --size-toc-gen    : clamp(10px, 1vw   + 0.2rem, 12px);

  --font-fam-header : 'DIN Neuzeit Grotesk', 'Trebuchet MS';
  --font-fam-normal : 'Consolas', monospace;

  --button_txt_size : 20px;
}

body
{
  font-family       : var(--font-fam-normal);
  color             : var(--flux-fg-norm);
  background-color  : var(--flux-bg-norm);
}

/*--------------------------------------------------------------------*/
/* HEADINGS
/*--------------------------------------------------------------------*/

h1, h2, h3, h4
{
  font-family: var(--font-fam-header);
}

h1
{
  font-size       : var(--size-h1);
  color           : var(--flux-color-2);
  font-variant    : small-caps;
}

h2
{
  font-size     : var(--size-h2);
  color         : var(--flux-color-1);
  padding-top   : var(--content-padding);
  border-top    : var(--h2-border);
  border-bottom : none;
}

h3
{
  font-size     : var(--size-h3);
  color         : var(--flux-fg-bold);
  padding-top   : var(--content-padding);
  border-top    : var(--h3-border);
  font-variant    : small-caps;
}

/*--------------------------------------------------------------------*/
/* TABLE OF CONTENTS SIDE BAR
/*--------------------------------------------------------------------*/
#toc-title
{
  font-family   : var(--font-fam-header);
  color         : var(--flux-fg-bold);
  font-variant  : small-caps;
  border-top    : none;
  font-size     : var(--size-h4);
}

#quarto-margin-sidebar #TOC
{
  border-left   : var(--h3-border);
  padding-left  : var(--content-padding);
  color         : var(--flux-fg-bold);
}

#quarto-margin-sidebar a:hover
{
  color             : var(--flux-color-2) !important;
}

#quarto-margin-sidebar #TOC .nav-link
{
  font-size     : var(--size-toc-gen);
}

#quarto-margin-sidebar #TOC .nav-link.active
{
  color             : var(--flux-color-1) !important;
  font-weight       : bold !important;
  border            : none;
}

/* Keep the Quarto margin sidebar TOC fully expanded */
#quarto-margin-sidebar #TOC .collapse {
  display: block;
}


/* Top level link in TOC */
#quarto-margin-sidebar #TOC > ul > li:not(:has(ul)) > a.nav-link,
#quarto-margin-sidebar #TOC > ul > li:has(> ul) > a.nav-link
{
  font-family   : var(--font-fam-normal);
  font-size     : var(--size-toc-top);
  padding-top   : var(--toc-link-padding);
}


/*--------------------------------------------------------------------*/
/* Don't apply top border to first h2 in main content.
/* Each time h2 is used in quarto, it adds a new .level2 section.
/* This code is targeting the h2 of first instance of level2 in main.
/*--------------------------------------------------------------------*/
main .level2:first-of-type h2{
  border-top: none;
}

/*--------------------------------------------------------------------*/
h3-mock {
  font-size     : var(--size-h3);
  color         : var(--flux-color-1);
  font-family   : var(--font-fam-header);
}

h4 { margin-left: 0px;}


/*--------------------------------------------------------------------*/
/* PAGE TITLE
/*--------------------------------------------------------------------*/
.quarto-title p
{
  font-size       : var(--size-h4);
  color           : var(--flux-fg-bold);
  font-family     : var(--font-fam-header);
}

.quarto-title
{
  padding-bottom  : var(--content-padding);
  border-bottom   : var(--content-border);
}

/*--------------------------------------------------------------------*/
/* FOOTER
/*--------------------------------------------------------------------*/
.nav-footer
{
  background-color  : var(--flux-bg-bold);
  color             : var(--flux-fg-bold);
  font-family       : var(--font-fam-header);
  z-index           : 1000;
}

main
{
  padding-bottom  : var(--pg-padding);
  border-bottom   : var(--content-border)
}

/*--------------------------------------------------------------------*/
/* NAVIGATION BAR
/*--------------------------------------------------------------------*/
/* navbar       - Whole navigation bar
/* navbar-nav   - Container that holds nav links
/* nav-link     - Each link in navbar
/*--------------------------------------------------------------------*/

.navbar .navbar-nav .nav-link
{
  font-family     : var(--font-fam-header);
  color           : var(--flux-bg-norm);
  font-variant    : small-caps;
}

.navbar .navbar-nav .nav-link:hover
{
  font-weight     : normal;
  text-decoration : underline;
}

.navbar
{
  background-color: var(--flux-color-1);
}

/* Site name */
.navbar-brand
{
  font-family       : var(--font-fam-header);
  font-size         : var(--size-h4);
  color             : var(--flux-bg-norm);
  font-variant      : small-caps;
}

.navbar-brand:visited
{
  color             : var(--flux-bg-norm);
}

.navbar-brand:hover
{
  font-weight       : normal;
}

.navbar-link:hover
{
  font-weight       : normal;
}

.navbar-nav
{
  padding-right: var(--pg-padding);
}

.navbar-tools
{
  padding-right: var(--pg-padding);
}

.dropdown-menu
{
  font-family       : var(--font-fam-normal);
}

.dropdown-item:hover
{
  background-color  : var(--flux-color-3);
  color             : var(--flux-bg-norm);
}

.dropdown-item
{
  background-color  : var(--flux-bg-norm);
}

.nav-icon
{
  height: 100px;
}

/*--------------------------------------------------------------------*/
/* BUTTONS & HYPERLINKS
/*--------------------------------------------------------------------*/

.flux-button
{
  font-family       : var(--font-fam-header);
  color             : var(--flux-bg-norm);
  display           : inline-block;
  text-decoration   : none;                   /* Don't underline */
  font-size         : var(--size-h4);
  text-align        : center;

  padding           : 0px 10px; /* Second entry is horizonal padding */
  margin-top: 10px;

  align-items       : center;
  outline           : none;
  border            : none;
  border-radius     : 10px; /* make rounded */
}

.flux-button:visited { color: var(--flux_button_txt); }

.flux-button._0
{
  background-color  : var(--flux-color-1);
}

.flux-button._2
{
  background-color  : var(--flux-color-3);
}

.flux-button._1
{
  background-color  : var(--flux-color-2);
  font-size         : var(--size-h3);
}

.flux-button:hover
{
  color             : var(--flux-color-3);
  background-color  : var(--flux-bg-bold);
}

.flux-button:active
{
  color             : var(--flux-bg-norm);
  background-color  : var(--flux-fg-bold);
}

/* Hyperlinks */
/*
main a         { color        : var(--flux-color-3); }
*/
a         { color        : var(--flux-color-3); }
a:hover   { font-weight  : bold; }
a:active  { color        : var(--flux-color-2); }
a:visited { color        : var(--flux-color-1); }

/*--------------------------------------------------------------------*/
.flux-img
{
  width: 100%;
}

/* Inline Code Blocks */
code
{
  color             : var(--flux-color-3);
  background-color  : var(--flux-bg-bold);
}

/*--------------------------------------------------------------------*/
/* DROP DOWN
/*--------------------------------------------------------------------*/

/* Header for drop down */
details summary
{
  color         : var(--flux-fg-bold);
  cursor        : pointer;
  display       : list-item;  /* Restores triangle behavior */
  margin-top    : 0.5em;
}

details summary:hover
{
  color         : var(--flux-fg-bold);
}

/* Style when drop down is open */
details[open] summary {
  color       : var(--flux-color-3);
  font-weight : bold;
}

details > *:not(summary) {
  margin-left: 1em;         /* slight indent for nested content */
}

details {
  margin-bottom : 1em;
  border-left   : 3px solid var(--flux-color-2);
  padding-left  : 0.5em;
}

/*--------------------------------------------------------------------*/
/* BLOG
/*--------------------------------------------------------------------*/

.quarto-title-banner
{
  background-color  : var(--flux-color-2);
  color             : var(--flux-bg-norm);
  font-family       : var(--font-fam-header);
  padding           : var(--content-padding);
  margin-bottom     : var(--content-padding);
}

.quarto-title-banner.page-columns.page-full .quarto-title.column-body
{
  border-bottom     : none !important;
}

.quarto-title .description p
{
  color             : var(--flux-bg-norm);
}



div.sourceCode code, pre
{
  background-color  : var(--flux-bg-bold);
  border-radius     : 0px;
}

figcaption
{
  font-size         : var(--size-base);
  color             : var(--flux-fg-bold);
  text-align        : left;
  margin-top        : 5px;
  font-style        : italic;
}