/*_____________________________________________________________________|
|______________________________________________________________________|
|        _   __   _   _ _   _   _   _         _                        |
|   |   |_| | _  | | | V | | | | / |_/ |_| | /                         |
|   |__ | | |__| |_| |   | |_| | \ |   | | | \_                        |
|    _  _         _ ___  _       _ ___   _                    / /      |
|   /  | | |\ |  \   |  | / | | /   |   \                    (^^)      |
|   \_ |_| | \| _/   |  | \ |_| \_  |  _/                    (____)o   |
|______________________________________________________________________|
|______________________________________________________________________|
|                                                                      |
|----------------------------------------------------------------------|
|   Copyright 2025, Rebecca Rashkin                                    |
|  -------------------------------                                     |
|   This code may be copied, redistributed, transformed, or built      |
|   upon in any format for educational, non-commercial purposes.       |
|                                                                      |
|   Please give me appropriate credit should you choose to use this    |
|   resource. Thank you :)                                             |
|----------------------------------------------------------------------|
|                                                                      |
|______________________________________________________________________|
|   //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\   |
|_____________________________________________________________________*/
/*  DESCRIPTION
/*  CSS colors to be included by main style css file.
/*____________________________________________________________________*/

/*--------------------------------------------------------------------*/
/* CONSTANTS
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/* Dark theme - colors become active when moon icon selected
/*--------------------------------------------------------------------*/
:root.dark-mode
{
  --flux-color-1      : #af87af;
  --flux-color-2      : #5fafaf;
  --flux-color-3      : #0087af;

  --flux-bg-norm      : #262626;
  --flux-bg-bold      : #303030;
  --flux-fg-norm      : #eeeeee;
  --flux-fg-lite      : #afafaf;
}

:root
{

  /*------------------------------------------------------------------*/
  /* Light theme, default
  /*------------------------------------------------------------------*/
  --flux-color-1      : #874787;
  --flux-color-2      : #478787;
  --flux-color-3      : #475f87;

  --flux-bg-norm      : #eeeeee;
  --flux-bg-bold      : #d7d7d7;
  --flux-fg-norm      : #262626;
  --flux-fg-lite      : #5f5f5f;
  /*------------------------------------------------------------------*/

  --flux-wht---7      : #eeeeee;
}
